<nav>
    <div class="svg-icon">
        <span style="vertical-align: middle; margin-right: 8px;">
            <!-- Airplane SVG icon -->
            <svg height="24px" width="24px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 38.976 38.976" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path style="fill:white;" d="M38.976,0.209L35.51,0.806l-9.12,7.552l-7.228-1.276l-6.296-1.116L7.07,4.937L3.109,8.313 l16.148,7.411l-9.66,11.755c-0.255,0.254-0.487,0.506-0.691,0.756l-6.035-2.452L0,28.654l6.453,2.957l0.271,0.271L4.686,34.12 l0.931,0.848l1.998-2.195l0.78,0.779l2.719,5.215l2.661-2.666l-3.104-6.138c0.158-0.11,0.311-0.231,0.448-0.373l12.534-9.847 l0.169,0.168l8.425,16.709l2.96-3.547l-1.209-6.192l-1.207-6.187l-1.593-8.157l-0.049-0.052l7.023-8.408L38.976,0.209z"></path> </g> </g></svg>
        </span>
        <h3>TravelBloom</h3>
    </div>
    <div class="nav-links">
        <a href="/IBM_JavaScript_Programming_Essentials_Course_Module_Final_Project/index.html">Home</a> |
        <a href="/IBM_JavaScript_Programming_Essentials_Course_Module_Final_Project/pages/about-us.html">About Us</a> |
        <a href="/IBM_JavaScript_Programming_Essentials_Course_Module_Final_Project/pages/contact-us.html">Contact Us</a>
    </div>
    <form class="search-bar" style="display:inline; margin-left:20px;">
        <input type="text" placeholder="Enter destination" name="search" />
        <button type="submit">Search</button>
        <button type="button" id="clear-btn">Clear</button>
    </form>
</nav>
<div class="social-icons">
    <div class="social-line"></div>
    <div class="social-links">
        <a href="https://twitter.com" target="_blank" title="Twitter">
            <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/twitter.svg" alt="Twitter" />
        </a>
        <a href="https://facebook.com" target="_blank" title="Facebook">
            <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/facebook.svg" alt="Facebook" />
        </a>
        <a href="https://instagram.com" target="_blank" title="Instagram">
            <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/instagram.svg" alt="Instagram" />
        </a>
        <a href="https://youtube.com" target="_blank" title="YouTube">
            <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/youtube.svg" alt="YouTube" />
        </a>
    </div>
</div>